@media (min-width: 480px) {
    .hidden-480 {
        display: block;
    }
    .visible-480 {
        display: none;
    }
}

@media (max-width: 480px) {
    .hidden-480 {
        display: none;
    }
    .visible-480 {
        display: block;
    }
    body {
        .header-mobile {
            .icon-mobile {
                margin-top: 6px;
                margin-left: 66.66666667%;
                .icon-mail-mobile {
                    margin-left: 15px;
                }
            }
            .lift-nav-bar {
                margin-top: 10px;
            }
        }
        .our-service {
            padding: 46px 0 60px;
            .service-content {
                .image {
                    margin: 0;
                    .circle {
                        padding: 10px;
                        img {
                            width: 219px;
                        }
                    }
                }
                .desc {
                    font-size: 14px;
                    p {
                        max-width: 260px;
                    }
                }
            }
            .service-title {
                .title-module {
                    margin: 16px 0 36px 0;
                }
            }
        }
        .welcome-lift-connect {
            .content {
                position: relative;
                top: initial;
                .welcome-video {
                    .video-container {
                        iframe {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .why-choose-us {
            .why-choose-us-container {
                .content {
                    %major-lift-title480 {
                        width: 147px;
                        height: 80px;
                    }
                    %major-lift-title-before480 {
                        border-top: 40px solid transparent;
                        border-bottom: 40px solid transparent;
                    }
                    .major-telcos {
                        .major-intro {
                            .major-title {
                                @extend %major-lift-title480;
                                padding: 20px 24px;
                                margin: 26px 0 18px 0;
                                letter-spacing: 0;
                                line-height: 22px;
                                &:before {
                                    @extend %major-lift-title-before480;
                                }
                            }
                        }
                    }
                    .lift-connect {
                        .lift-intro {
                            .lift-title {
                                @extend %major-lift-title480;
                                &:before {
                                    @extend %major-lift-title-before480;
                                }
                            }
                            .lift-image {
                                padding-left: 5px;
                            }
                        }
                    }
                    .box-application {
                        width: 100%;
                        .box-application-image {
                            img {
                                width: 63px;
                                height: 63px;
                            }
                        }
                        .box-application-title {
                            max-width: 160px;
                            font-size: 15.5px;
                            left: 90px;
                        }
                    }
                }
            }
        }
        .we-offer-an-easy {
            .we-offer-an-easy-title {
                max-width: 250px;
                height: 137px;
                .title {
                    margin: 0;
                    line-height: 36px;
                    font-size: 24px;
                }
                p {
                    font-size: 24px;
                }
            }
        }
        .pre-footer {
            height: 104px;
            font-size: 18px;
            padding: 30px 40px;
        }
    }
}
