@font-face {
    font-family: 'GothamBold';
    src: url(../fonts/GothamBold.ttf);
}

@font-face {
    font-family: 'GothamBook';
    src: url(../fonts/gotham_book.eot);
    src: url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.ttf') format('truetype');
}

$base-color: #1ab374;
$green-color: #42b761;
$black-color: #454c52;
$button-hover: #179762;
$base-font: 14px;
$large-font: 16px;
$blur-border-color: #eaeaea;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin box-orient($box-orient) {
    -webkit-box-orient: $box-orient;
    -moz-box-orient: $box-orient;
    box-orient: $box-orient;
}

@mixin ordinal-group($ordinal-group) {
    -webkit-box-ordinal-group: $ordinal-group;
    -moz-box-ordinal-group: $ordinal-group;
    box-ordinal-group: $ordinal-group;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.no-padding {
    padding: 0!important;
}

.no-padding-left {
    padding-left: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-margin-left {
    margin-left: 0!important;
}

.no-margin-right {
    margin-right: 0!important;
}

.no-border {
    border: 0!important;
}

.btn-lift-connect {
    background: $base-color;
    color: #FFF;
}
