@media (max-width: 992px) {
    body {
        .header {
            .why-choose-us-header {
                padding: 0;
            }
            .enquire-now-header {
                padding: 0;
                width: 20%;
                &:before {
                    right: -20px;
                }
            }
            .phone-header {
                width: 24%;
                padding-right: 0;
            }
        }
        .our-service {
            .service-content {
                width: 100%;
                .row {
                	margin: 0;
                }
                .image,
                .desc {
                    text-align: center;
                }
                .image {
                	margin-bottom: 34px;
                }
                .desc {
                    padding-left: 15px;
                	p {
                		margin: 0 auto 34px;
                		&:last-child {
                			margin: 0 auto;
                		}
                	}
                }
            }
        }
    }
}
