@media (max-width: 767px) {
    body {
        padding-top: 60px;
        .header-mobile {
            position: fixed;
            width: 100%;
            top: 0px;
            left: 0px;
            background: #fff;
            padding: 10px 0 20px 0;
            z-index: 12;
            .logo-mobile {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                img {
                    margin: auto;
                }
            }
            .lift-nav-bar,
            .icon-mobile {
                margin-top: 15px;
            }
        }
        .welcome-lift-connect {
            .content {
                top: 15px;
                .welcome-title {
                    .title {
                        margin-bottom: 20px;
                        font-size: 30px;
                    }
                }
                .welcome-video {
                    .video-container {
                        .video-btn {
                            .play-video {
                                width: 92px;
                                height: 92px;
                                background: url('../images/play-mobile.png');
                            }
                            &:hover {
                                background: url('../images/play-btn-hover.png');
                            }
                        }
                    }
                }
            }
        }
        .our-service {
            padding: 100px 0 64px;
            .service-title {
                .title-module {
                    margin: 28px 0 34px 0;
                }
            }
            .service-content {
                .row {
                    display: -webkit-box;
                    display: -moz-box;
                    display: box;
                    @include box-orient(vertical);
                    .image {
                        @include ordinal-group(2);
                    }
                    .desc {
                        @include ordinal-group(1);
                        margin-bottom: 52px;
                    }
                }
            }
        }
        .why-choose-us {
            padding: 70px 0 68px 0;
            .why-choose-us-container {
                width: 100%;
                .title {
                    margin: 0 0 36px 0;
                }
                .content {
                    .major-telcos,
                    .lift-connect {
                        width: 100%;
                        padding: 0 24px;
                    }
                    %major-lift-title767 {
                        width: 66.67%;
                        height: 100px;
                        font-size: 21px;
                    }
                    %major-lift-title-before767 {
                        border-top: 50px solid transparent;
                        border-bottom: 50px solid transparent;
                    }
                    .major-telcos {
                        margin-bottom: 50px;
                        .major-intro {
                            margin: 0 0 10px 0;
                            .major-title {
                                @extend %major-lift-title767;
                                padding: 40px;
                                &:before {
                                    @extend %major-lift-title-before767;
                                }
                            }
                        }
                    }
                    .lift-connect {
                        .lift-intro {
                            margin: 0 0 10px 0;
                            .lift-title {
                                padding: 20px 2px;
                                img {
                                    width: 138px;
                                    height: 50px;
                                }
                                @extend %major-lift-title767;
                                &:before {
                                    @extend %major-lift-title-before767;
                                }
                            }
                        }
                    }
                    .box-application {
                        position: relative;
                        .box-application-title {
                            max-width: none;
                            position: absolute;
                            left: 110px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        .title-module {
            font-size: 25px;
        }
        .footer {
            .hdiv {
                display: none;
            }
        }
    }
}

@media (min-width: 767px) {
    body {
        .why-choose-us {
            .why-choose-us-container {
                .content {
                    .box-application {
                        .box-application-title {
                            position: absolute;
                            left: 110px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}
