@media (min-width: 1400px) {
    body {
        .welcome-lift-connect {
            .content {
                top: initial;
                bottom: -10%;
                .welcome-video {
                    .video-container {
                        iframe {
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
            }
        }
    }
}
