body {
    font-family: GothamBook;
    button {
        &:active {
            color: #FFF;
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
    }
    .title-module {
        color: #46b864;
        font-size: 38px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }
    .header {
        padding: 17px 0;
        font-size: $large-font;
        .logo-header {
            padding: 0 15px 0 20px;
            img {
                width: 122px;
                height: 44px;
            }
        }
        .our-service-header,
        .why-choose-us-header {
            a {
                color: $black-color;
                &:hover {
                    text-decoration: none;
                    color: $base-color;
                }
            }
            margin-top: 10px;
        }
        .our-service-header {
            padding-left: 0;
            width: 10%;
        }
        .why-choose-us-header {
            width: 14%;
        }
        .enquire-now-header {
            position: relative;
            width: 15%;
            padding: 0 12px;
            &:before {
                content: ' ';
                position: absolute;
                height: 40px;
                width: 1px;
                top: 3px;
                right: -15px;
                background: #e3e4e5;
            }
            .enquire {
                padding: 10px 24px;
                font-size: 15px;
                @include border-radius(10px);
                &:hover {
                    color: #FFF;
                    background: $button-hover;
                }
            }
        }
        .phone-header {
            margin-top: 8px;
            margin-left: 27px;
            width: 17%;
            color: $green-color;
            .icon-phone,
            .content {
                float: left;
            }
            .icon-phone {
                margin-right: 10px;
            }
            .content {
                margin-top: 3px;
                letter-spacing: 1px;
                color: #42b761;
            }
        }
    }
    .header-mobile {
        padding: 10px 0;
        .logo-mobile {
            img {
                width: 122px;
                height: 44px;
            }
        }
        .lift-nav-bar,
        .icon-mobile {
            margin-top: 10px;
        }
        .lift-nav-bar {
            cursor: pointer;
            &:hover {
                hr {
                    border-top: 2px solid $green-color;
                }
            }
            hr {
                margin-top: 0;
                margin-bottom: 5px;
                border: 0;
                border-top: 2px solid #4b4b4b;
                width: 23px;
            }
        }
        .icon-mobile {
            .icon-phone-mobile,
            .icon-mail-mobile {
                cursor: pointer;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .icon-phone-mobile {
                background-image: url('../images/icon-phone-mobile.png');
                &:hover {
                    background-image: url('../images/icon-phone-mobile-hover.png');
                }
            }
            .icon-mail-mobile {
                margin-left: 20px;
                background-image: url('../images/icon-mail-mobile.png');
                &:hover {
                    background-image: url('../images/icon-mail-mobile-hover.png');
                }
            }
        }
    }
    .menu-responsive.active {
        height: 100%;
    }
    .menu-responsive {
        background: $base-color;
        display: block;
        position: fixed;
        transition: all 0.5s;
        width: 100%;
        height: 0px;
        overflow: hidden;
        top: 0px;
        left: 0px;
        z-index: 13;
        .menu-top {
            .close-menu {
                padding-top: 20px;
                padding-left: 15px;
            }
        }
        .menu-body {
            padding-top: 20px;
            .menu-body-item {
                a {
                    font-size: 18px;
                    color: rgb(255, 255, 255);
                    line-height: 50px;
                    display: block;
                    &:hover {
                        color: #76ebbb;
                        text-decoration: none;
                    }
                }
            }
            .body-icon {
                a {
                    display: inline-block;
                    margin: 10px;
                    width: 60px;
                    border-radius: 100%;
                    border: 1px solid #fff;
                    height: 60px;
                    position: relative;
                    img {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        position: absolute;
                    }
                    &:hover {
                        border: 1px solid #76ebbb;
                    }
                }
                .responsive-phone-icon,
                .responsive-phone-mail {
                    img {
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .responsive-phone-icon {
                    img {
                        background-image: url('../images/responsive-phone-icon.png');
                    }
                    &:hover {
                        background: #139c64;
                        img {
                            background-image: url('../images/responsive-phone-icon-hover.png');
                        }
                    }
                }
                .responsive-phone-mail {
                    img {
                        background-image: url('../images/responsive-phone-mail.png');
                    }
                    &:hover {
                        background: #139c64;
                        img {
                            background-image: url('../images/responsive-mail-icon-hover.png');
                        }
                    }
                }
            }
        }
    }
    .welcome-lift-connect {
        position: relative;
        .content {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 60px;
            text-align: center;
            z-index: 1;
            .welcome-title {
                .title {
                    font-size: 45px;
                    font-weight: 400;
                    color: $black-color;
                    margin: 0;
                    margin-top: 14px;
                    margin-bottom: 56px;
                }
            }
            .welcome-video {
                .video-container {
                    position: relative;
                    iframe {
                        width: 1046px;
                        height: 540px;
                    }
                    .video-btn {
                        .play-video {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 136px;
                            height: 136px;
                            margin: auto;
                            background: url('../images/play-btn.png');
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        .play-video:hover {
                            background: url('../images/play-btn-hover.png');
                            background-size: cover!important;
                        }
                    }
                }
            }
        }
    }
    .our-service {
        padding: 164px 0 100px;
        .icon {
            img {
                margin: 0 auto;
            }
        }
        .service-title {
            .title-module {
                margin: 28px 0 70px 0;
            }
        }
        .service-content {
            width: 960px;
            margin: 0 auto;
            font-size: $large-font;
            color: #666666;
            .image {
                .circle {
                    display: inline-block;
                    padding: 12px;
                    border: 1px solid #5dc99c;
                    @include border-radius(50%);
                }
            }
            .desc {
                padding-left: 40px;
                line-height: 30px;
                p {
                    max-width: 600px;
                    margin: 0 0 34px 0;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .icon {
        img {
            width: 46px;
            height: 32px;
        }
    }
    .why-choose-us {
        background: #e8edeb;
        padding: 100px 0 120px 0;
        .why-choose-us-container {
            width: 714px;
            margin: 0 auto;
            .title {
                margin: 0 0 86px 0;
            }
            .content {
                overflow: hidden;
                position: relative;
                .compare {
                    position: absolute;
                    width: 66px;
                    height: 66px;
                    top: 40px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #aeaeae;
                    color: #FFF;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: GothamBold;
                    font-size: 20px;
                    padding-top: 18px;
                    @include border-radius(50%);
                }
                .content-border {
                    width: 1px;
                    position: absolute;
                    height: calc(100% - 106px);
                    background: #dadcdb;
                    top: 106px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                .major-telcos,
                .lift-connect {
                    width: 43%;
                }
                %major-lift-title {
                    margin: 20px 0;
                    padding: 20px 40px;
                    font-size: 24px;
                    line-height: 24px;
                    color: #FFF;
                    font-family: GothamBold;
                    letter-spacing: 1px;
                    position: relative;
                    width: 184px;
                    height: 88px;
                }
                %major-lift-title-before {
                    content: ' ';
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: 0;
                }
                .box-application {
                    overflow: hidden;
                    background: #FFF;
                    margin-bottom: 10px;
                    @include border-radius(15px);
                    padding: 10px 0 10px 14px;
                    position: relative;
                    .box-application-image,
                    .box-application-title {
                        float: left;
                    }
                    .box-application-image {
                        margin-right: 14px;
                        img {
                            width: 73px;
                            height: 73px;
                        }
                    }
                    .box-application-title {
                        font-family: GothamBold;
                        font-size: 18px;
                        text-transform: uppercase;
                        max-width: 190px;
                        overflow: hidden;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .major-telcos {
                    .major-intro {
                        margin-bottom: 10px;
                        .major-title {
                            @extend %major-lift-title;
                            background: #ec632f;
                            &:before {
                                @extend %major-lift-title-before;
                                border-top: 45px solid transparent;
                                border-bottom: 45px solid transparent;
                                border-left: 23px solid #ec632f;
                                right: -22px;
                            }
                        }
                        .major-image {
                            img {
                                width: 95px;
                                height: 139px;
                            }
                        }
                    }
                    .box-application {
                        .box-application-title {
                            color: #de5c32;
                        }
                    }
                }
                .lift-connect {
                    .lift-intro {
                        margin-bottom: 10px;
                        .lift-title {
                            @extend %major-lift-title;
                            background: #FFF;
                            padding: 20px 14px;
                            &:before {
                                @extend %major-lift-title-before;
                                border-top: 45px solid transparent;
                                border-bottom: 45px solid transparent;
                                border-right: 23px solid #fff;
                                left: -22px;
                            }
                        }
                        .lift-image {
                            img {
                                width: 85px;
                                height: 140px;
                            }
                        }
                    }
                    .box-application {
                        .box-application-title {
                            color: #47b864;
                        }
                    }
                }
            }
        }
    }
    .we-offer-an-easy {
        position: relative;
        .we-offer-an-easy-title {
            position: absolute;
            width: 100%;
            height: 80px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-align: center;
            font-size: 30px;
            color: #FFF;
            .title {
                font-family: GothamBold;
                margin: 0 0 5px 0;
            }
            p {
                font-family: GothamBook;
                margin: 0;
            }
        }
    }
    .enquire {
        padding: 80px 0 70px 0;
        .enquire-container {
            width: 510px;
            margin: 0 auto;
            .icon {
                img {
                    margin: 0 auto;
                }
            }
            .enquire-title {
                margin: 28px 0 50px 0;
            }
            .enquire-content {
                .form-group {
                    margin-bottom: 20px;
                    height: 60px;
                    border: 1px solid #ccc;
                    @include border-radius(6px);
                    .form-control {
                        @include box-shadow(initial);
                        @include border-radius(0);
                        font-size: $large-font;
                        height: 52px;
                        border: 0;
                    }
                }
                .leave-your-enquiry {
                    overflow: auto;
                    height: auto;
                    .left-inner-addon {
                        p {
                            width: calc(100% - 58px);
                            margin-left: 58px;
                            font-size: 16px;
                            color: rgb(26, 179, 116);
                            min-height: 56px;
                            margin-bottom: 0px;
                            line-height: 56px;
                            padding-left: 20px;
                        }
                    }
                    textarea {
                        height: 225px;
                        border: none;
                        width: 100%;
                        padding: 10px 15px;
                    }
                    textarea:focus {
                        outline: none;
                    }
                }
                .send-enquiry {
                    margin-bottom: 0;
                    button {
                        font-size: 18px;
                        padding: 12px 54px;
                        @include border-radius(10px);
                        &:hover {
                            color: #FFF;
                            background: $button-hover;
                        }
                    }
                }
                .left-inner-addon {
                    position: relative;
                    height: 50px;
                    margin-top: 3px;
                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 1px;
                        height: 38px;
                        left: 58px;
                        background: $blur-border-color;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    input {
                        padding-left: 78px;
                    }
                    img {
                        position: absolute;
                        padding: 20px 24px;
                        pointer-events: none;
                    }
                }
                .has-inner-border {
                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 500px;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        background: $blur-border-color;
                    }
                }
                .right-inner-addon {
                    position: relative;
                    z-index: -1;
                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 1px;
                        height: 38px;
                        right: 58px;
                        background: $blur-border-color;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    input {
                        padding-left: 78px;
                    }
                    img {
                        position: absolute;
                        right: 0;
                        padding: 20px 24px;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .pre-footer {
        height: 88px;
        padding: 30px 0;
        background: $base-color;
        font-size: 21px;
        color: #FFF;
    }
    .footer {
        height: 120px;
        background: $black-color;
        color: #7a858f;
        font-size: 12px;
        padding: 44px 0 68px 0;
        .footer-right {
            font-size: 10px;
        }
        .privacy-policy,
        .made-with {
            color: #7a858f;
            &:hover {
                color: #a9b9c8;
                text-decoration: none;
            }
        }
        .made-with {
            .protein {
                background: url('../images/protein-image.png');
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover {
                .protein {
                    background: url('../images/protein-image-hover.png');
                }
            }
        }
        a.footer-tel {
            &:link,
            &:hover,
            &:visited {
                color: #fff;
            }
        }
    }
}
